# 忽略输出目录
output/

# Python 相关忽略项
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE相关忽略项
.idea/
.vscode/
*.swp
*.swo

# 操作系统相关忽略项
.DS_Store
Thumbs.db 